.header {
    .header__nav-container {
        .header__nav-container-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.4rem;
            .header__logo {
                font-family: 'Antonio', sans-serif;
                font-size: 2.8rem;
                letter-spacing: -0.105rem;
                text-transform: uppercase;
            } 
        }
        // mobile menu
        .header__menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $backgroundColor;
            display: none;
            .header__menu-nav {
                position: fixed;
                width: 100%;
                padding: 0 2.4rem 6.7rem 2.4rem;
                top: 11.3rem;
                .header__menu-item {
                    display: grid;
                    grid-template-columns: 2fr 4fr 6fr;
                    grid-template-rows: 1 1fr;
                    grid-template-areas: "icon planet-name arrow";
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem 0;
                    .planet-icon {
                        position: relative;
                        // background: red;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 90px;
                        grid-area: icon;
                    }
                    #mercury {
                        background: #DEF4FC;
                    }
                    #venus {
                        background: #F7CC7F;
                    }
                    #earth {
                        background: #545BFE;
                    }
                    #mars {
                        background: #FF6A45;
                    }
                    #jupiter {
                        background: #ECAD7A;
                    }
                    #saturn {
                        background: #FCCB6B;
                    }
                    #uranus {
                        background: #65F0D5;
                    }
                    #neptune {
                        background: #497EFA;
                    }
                    .planet-name.mobile {
                        grid-area: planet-name;
                        font-family: 'Spartan', sans-serif;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        letter-spacing: 0.136rem;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    .menu-arrow {
                        width: 1rem;
                        height: 1rem;
                        background: red;
                        grid-area: arrow;
                    }
                }
                .header__menu-item:first-child {
                    padding-top: 0;
                }
                .header__menu-item:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .header__menu.active {
            display: block;
        }
    }
}